{
  "presets": ["react-native"],
  "plugins": [
    "react-require",
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
